<h3>Pergunta</h3>
<div data-component="crn-datasource" id="crn-datasource-763276" class="component-holder">
  <datasource filter="" name="Pergunta" entity="api/rest/cronapp/app/Pergunta" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource>
</div>
<div data-component="crn-button" id="crn-button-564202">
  <button class="btn btn-primary" type="submit" onclick="" ng-click="Pergunta.startInserting()" ng-hide="Pergunta.inserting || Pergunta.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button>
</div>
<div class="component-holder" data-component="crn-grid" id="crn-grid-Pergunta">
  <div crn-datasource="Pergunta" class="" ng-hide="Pergunta.editing || Pergunta.inserting">
    <table class="table  table-bordered table-hover table-striped">
      <thead>
        <tr class="table-header">
          <th class="">
            <div class="">Perguntas</div>
          </th>
          <th class="">
            <div class="">Tipo _questao</div>
          </th>
          <th class="">
            <div class="">{{"template.crud.actions" | translate}}</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-content" ng-repeat="rowData in datasource.data">
          <td class="">
            <div class="">
              {{rowData.perguntas}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.tipo_questao}}
            </div>
          </td>
          <td class="">
            <div class="">
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button>
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="table-footer-controls">
      <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button>
    </div>
  </div>
</div>
<div data-component="crn-form" id="crn-form-form-Pergunta">
  <div class="form" ng-show="Pergunta.editing || Pergunta.inserting">
    <form crn-datasource="Pergunta" class="">
      <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting">
        <button class="btn btn-primary" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button>
        <button class="btn btn-success" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button>
        <button class="btn btn-primary" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button class="btn btn-primary" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
        <button class="btn btn-primary" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button>
      </div>
      <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting">
        <button class="btn btn-success" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button>
        <button class="btn btn-danger" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button>
      </div>
      <br/>
      <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting">
        <div data-component="crn-textinput" id="crn-textinput-perguntas">
          <div class="form-group">
            <label for="textinput-perguntas" class="">Perguntas</label>
            <input
              type="text"
              ng-model="Pergunta.active.perguntas"
              class="form-control"
              id="textinput-perguntas"
              placeholder="Perguntas"
              >
          </div>
        </div>
        <div data-component="crn-textinput" id="crn-textinput-tipo_questao">
          <div class="form-group">
            <label for="textinput-tipo_questao" class="">Tipo _questao</label>
            <input
              type="text"
              ng-model="Pergunta.active.tipo_questao"
              class="form-control"
              id="textinput-tipo_questao"
              placeholder="Tipo _questao"
              >
          </div>
        </div>
        <!-- NtoN  -->
        <div data-component="crn-datasource" class="component-holder">
          <datasource append="false" name="Pesquisa" entity="api/rest/cronapp/app/Pergunta/{{Pergunta.active.id}}/Pesquisa" keys="id" rows-per-page="100" lazy="true" auto-post="true" enabled="{{Pergunta.editing || Pergunta.inserting}}"dependent-lazy-post="Pergunta" dependent-lazy-post-field="pergunta" ></datasource>
        </div>
        <div data-component="crn-datasource" class="component-holder">
          <datasource name="AllPesquisa" entity="api/rest/cronapp/app/Pesquisa" keys="id" rows-per-page="100" enabled="{{Pergunta.editing || Pergunta.inserting}}"></datasource>
        </div>
        <div class="form-group" ng-show="datasource.editing || datasource.inserting">
          <label for="select-ui">Pesquisa</label>
          <div id="select-ui" data-component="crn-tags">
            <ui-select multiple crn-datasource="AllPesquisa" ng-model="Pesquisa.data" class="crn-select" style="min-width: 200px" theme="bootstrap" enabled="{{Pergunta.editing || Pergunta.inserting }}" >
              <ui-select-match placeholder="Pesquisa...">
                {{$item.nome_pesquisa }}
              </ui-select-match>
              <ui-select-choices repeat="rowData in datasource.data | filter : $select.search" class="">
                <div class="" data-container="true" draggable="true">
                  {{rowData.nome_pesquisa}}
                </div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div data-component="crn-datasource" class="component-holder">
          <datasource append="false" name="OpcaoPerguntas_2" entity="api/rest/cronapp/app/Pergunta/{{Pergunta.active.id}}/OpcaoPerguntas_2" keys="id" rows-per-page="100" lazy="true" auto-post="true" enabled="{{Pergunta.editing || Pergunta.inserting}}"dependent-lazy-post="Pergunta" dependent-lazy-post-field="pergunta" ></datasource>
        </div>
        <div data-component="crn-datasource" class="component-holder">
          <datasource name="AllOpcaoPerguntas_2" entity="api/rest/cronapp/app/OpcaoPerguntas" keys="id" rows-per-page="100" enabled="{{Pergunta.editing || Pergunta.inserting}}"></datasource>
        </div>
        <div class="form-group" ng-show="datasource.editing || datasource.inserting">
          <label for="select-ui">OpcaoPerguntas_2</label>
          <div id="select-ui" data-component="crn-tags">
            <ui-select multiple crn-datasource="AllOpcaoPerguntas_2" ng-model="OpcaoPerguntas_2.data" class="crn-select" style="min-width: 200px" theme="bootstrap" enabled="{{Pergunta.editing || Pergunta.inserting }}" >
              <ui-select-match placeholder="OpcaoPerguntas_2...">
                {{$item.opcao }}
              </ui-select-match>
              <ui-select-choices repeat="rowData in datasource.data | filter : $select.search" class="">
                <div class="" data-container="true" draggable="true">
                  {{rowData.opcao}}
                </div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <!-- NtoN  end-->
      </fieldset>
    </form>
    <form>
        <fieldset>
            <!-- OneToN -->
        <!--query filter 1toN -->
        <!-- query filter 1toN end-->
        <div data-component="crn-datasource" class="component-holder">
          <datasource filter="" name="OpcaoPerguntasGrid" enabled="{{Pergunta.editing || Pergunta.inserting}}" entity="api/rest/cronapp/app/Pergunta/{{Pergunta.active.id}}/OpcaoPerguntas" keys="id" rows-per-page="100" lazy="true" auto-post="true" dependent-lazy-post="Pergunta" dependent-lazy-post-field="pergunta"></datasource>
        </div>
        <button class="btn btn-primary" onclick="$('#modalOpcaoPerguntasGrid').modal('show');" ng-click="OpcaoPerguntasGrid.startInserting();"><i class="fa fa-plus"></i> <span class="">{{"Add" | translate}} OpcaoPerguntas</span> </button>
        <!--search 1toN-->
        <!-- seach 1toN end-->
        <div data-component="crn-textinput" id="crn-textinput-descricao">
          <div class="form-group">
            <label for="textinput-descricao" class="">OpcaoPerguntas</label>
            <div class="component-holder" data-component="crn-grid" id="crn-grid-OpcaoPerguntasGrid">
              <div crn-datasource="OpcaoPerguntasGrid">
                <table class="table table-bordered table-hover table-striped">
                  <thead>
                    <tr class="table-header">
                      <th class="">
                        <div class="">
                          Opcao
                        </div>
                      </th>
                      <th class="">
                        <div class="">
                          Pesquisa
                        </div>
                      </th>
                      <th class="">
                        <div class="">
                          {{"template.crud.actions" | translate}}
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-content" ng-repeat="rowData in datasource.data">
                      <td>
                        <div>
                          {{rowData.opcao}}
                        </div>
                      </td>
                      <td>
                        <div>
                          {{rowData.pesquisa.nome_pesquisa }}
                        </div>
                      </td>
                      <td>
                        <div>
                          <button class="btn btn-default btn-sm" ng-click="datasource.startEditing(rowData)" onclick="$('#modalOpcaoPerguntasGrid').modal('show');" ><i class="fa fa-edit"></i></button>
                          <button class="btn btn-default btn-sm" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="table-footer-controls">
                  <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()" content="{{&quot;template.crud.load_more&quot; | translate}}...">{{"template.crud.load_more" | translate}}...</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="modalOpcaoPerguntasGrid">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{'Home.view.Close' | translate}}"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">OpcaoPerguntas</h4>
              </div>
              <div class="modal-body">
                <div class="text-danger wrapper text-center" ng-show="authError">
                </div>
                <div class="list-group list-group-sm">
                  <div data-component="crn-textinput" id="crn-textinput-opcao">
                    <div class="form-group">
                      <label for="textinput-opcao">Opcao</label>
                      <input type="text" ng-model="OpcaoPerguntasGrid.active.opcao" class="form-control" id="textinput-opcao" placeholder="Opcao"  >
                    </div>
                  </div>
                  <div data-component="crn-datasource" class="component-holder">
                    <datasource name="pesquisaGridForUiSelect" entity="api/rest/cronapp/app/Pesquisa" keys="id" rows-per-page="100" lazy="true" enabled="{{Pergunta.editing || Pergunta.inserting}}" ></datasource>
                  </div>
                  <div data-component="crn-combobox" id="crn-combobox-OpcaoPerguntasGrid.active.pesquisa">
                    <div class="form-group">
                      <label for="combobox-pesquisa" class="">Pesquisa</label>
                      <ui-select ng-model="OpcaoPerguntasGrid.active.pesquisa" crn-datasource="pesquisaGridForUiSelect" class="crn-select" id="combobox-pesquisa" required="required" >
                        <ui-select-match class="">
                          {{$select.selected.nome_pesquisa}}
                        </ui-select-match>
                        <ui-select-choices repeat="rowData in datasource.data | filter : $select.search" class="">
                          <div class="" data-container="true">
                            {{rowData.nome_pesquisa}}
                          </div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" ng-click="OpcaoPerguntasGrid.post();" onclick="(!OpcaoPerguntasGrid.missingRequiredField()?$('#modalOpcaoPerguntasGrid').modal('hide'):void(0))">{{'Save' | translate}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{'Home.view.Close' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
        <!--query filter 1toN -->
        <!-- query filter 1toN end-->
        <div data-component="crn-datasource" class="component-holder">
          <datasource filter="" name="RespostasGrid" enabled="{{Pergunta.editing || Pergunta.inserting}}" entity="api/rest/cronapp/app/Pergunta/{{Pergunta.active.id}}/Respostas" keys="id" rows-per-page="100" lazy="true" auto-post="true" dependent-lazy-post="Pergunta" dependent-lazy-post-field="pergunta"></datasource>
        </div>
        <button class="btn btn-primary" onclick="$('#modalRespostasGrid').modal('show');" ng-click="RespostasGrid.startInserting();"><i class="fa fa-plus"></i> <span class="">{{"Add" | translate}} Respostas</span> </button>
        <!--search 1toN-->
        <!-- seach 1toN end-->
        <div data-component="crn-textinput" id="crn-textinput-descricao">
          <div class="form-group">
            <label for="textinput-descricao" class="">Respostas</label>
            <div class="component-holder" data-component="crn-grid" id="crn-grid-RespostasGrid">
              <div crn-datasource="RespostasGrid">
                <table class="table table-bordered table-hover table-striped">
                  <thead>
                    <tr class="table-header">
                      <th class="">
                        <div class="">
                          Opcaoperguntas
                        </div>
                      </th>
                      <th class="">
                        <div class="">
                          Resposta Correta
                        </div>
                      </th>
                      <th class="">
                        <div class="">
                          {{"template.crud.actions" | translate}}
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-content" ng-repeat="rowData in datasource.data">
                      <td>
                        <div>
                          {{rowData.opcaoPerguntas.opcao }}
                        </div>
                      </td>
                      <td>
                        <div>
                          {{rowData.respostaCorreta}}
                        </div>
                      </td>
                      <td>
                        <div>
                          <button class="btn btn-default btn-sm" ng-click="datasource.startEditing(rowData)" onclick="$('#modalRespostasGrid').modal('show');" ><i class="fa fa-edit"></i></button>
                          <button class="btn btn-default btn-sm" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="table-footer-controls">
                  <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()" content="{{&quot;template.crud.load_more&quot; | translate}}...">{{"template.crud.load_more" | translate}}...</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="modalRespostasGrid">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{'Home.view.Close' | translate}}"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Respostas</h4>
              </div>
              <div class="modal-body">
                <div class="text-danger wrapper text-center" ng-show="authError">
                </div>
                <div class="list-group list-group-sm">
                  <div data-component="crn-datasource" class="component-holder">
                    <datasource name="opcaoPerguntasGridForUiSelect" entity="api/rest/cronapp/app/OpcaoPerguntas" keys="id" rows-per-page="100" lazy="true" enabled="{{Pergunta.editing || Pergunta.inserting}}" ></datasource>
                  </div>
                  <div data-component="crn-combobox" id="crn-combobox-RespostasGrid.active.opcaoPerguntas">
                    <div class="form-group">
                      <label for="combobox-opcaoPerguntas" class="">Opcaoperguntas</label>
                      <ui-select ng-model="RespostasGrid.active.opcaoPerguntas" crn-datasource="opcaoPerguntasGridForUiSelect" class="crn-select" id="combobox-opcaoPerguntas" required="required" >
                        <ui-select-match class="">
                          {{$select.selected.opcao}}
                        </ui-select-match>
                        <ui-select-choices repeat="rowData in datasource.data | filter : $select.search" class="">
                          <div class="" data-container="true">
                            {{rowData.opcao}}
                          </div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                  <div data-component="crn-textinput" id="crn-textinput-respostaCorreta">
                    <div class="form-group">
                      <label for="textinput-respostaCorreta">Resposta Correta</label>
                      <input type="text" ng-model="RespostasGrid.active.respostaCorreta" class="form-control" id="textinput-respostaCorreta" placeholder="Resposta Correta"  >
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" ng-click="RespostasGrid.post();" onclick="(!RespostasGrid.missingRequiredField()?$('#modalRespostasGrid').modal('hide'):void(0))">{{'Save' | translate}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{'Home.view.Close' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
        <!-- OneToOne  end -->

        </fieldset>
    </form>
  </div>
</div>